body {
    background-color: #e6e3df;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #363636;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #363636;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
    grid-template-areas:
        "d d d d"  
        "one two three a"  
        "four five six s"  
        "seven eight nine m"  
        "zero c e di";
    align-items: start;
}

.display {
    grid-area: d;

    border-radius: 45px;
    background-color: #e6e3df
    -moz-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);

    height: 96px;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;


}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.add {
    grid-area: a;
}

.subtract {
    grid-area: s;
}

.multiply {
    grid-area: m;
}

.divide {
    grid-area: di;
}

.equals {
    grid-area: e;
}

.clear {
    grid-area: c;
}

button {
    border: 1px solid #e6e3df;

    border-radius: 50%;
    background-color: #e6e3df;
    
    -moz-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);

    color: #363636;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #363636;
}

.btn {
    height: 100px;
    width: 100px;
    background-color: #e6e3df;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;

}

.btn-op {
    height: 100px;
    width: 100px;
    background-color: #e6e3df;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.btn-eq {
    height: 100px;
    width: 100px;
    background-color: #e6e3df;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.btn-cl {
    height: 100px;
    width: 100px;
    background-color: #e6e3df;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
}